<div class="threads">
    <br><br>
<div class=thread>
    <br><br><br><br>
<h1>About the Organization</h1>
<h2>Learn how the team and committee leadership are shaping the world of conferences, get the latest conference news and updates on our blog, and contact us for guidance.</h2>
<div class="tread">
<button (click)="showData($event)">Learn More</button>
</div>
</div>
</div>
<hr>
<h1>About</h1>
<hr>
<div class="container">
    <p>We believe in transparency, cooperation globally, and the free exchange of talent and ideas. A forum for the sharing of these technical and humanitarian discussions is given for meetings, conferences and other events. We are also commited to creating a secure, constructive and supportive atmosphere for all participants in conferences, activites adn meetings who participate in these discussions with us. </p>
    <button id="wack"(click)="showData($event)">Click here to get a free gift</button>
    <br><br>
    <p>Conferences are a part of the legacy of this organization and continue today to be a catalyst for creativity. We are committed to developing strategies that support and expand the conference activites throught the world.</p>
</div>
<br><br>
<hr>
