<div class="threads">
    <br><br>
    <div class=threadss>
      <br><br><br><br>
    <h1>Join our Mailing List!</h1>
    <h2>Join and meet thousands academians around the globe and stay updated!</h2>

    <button (click)="showData($event)">Click here to JOIN!</button>
    </div>
    </div>
<hr>
<h1>Fill the form below:</h1>
<div class="container">
<p>Firstame: <input type="text" [(ngModel)]="name"></p>
<p>Lastname: <input type="text" [(ngModel)]="last"></p>
<p>Fullname: {{name}} {{last}}</p>
<p>Enter Email Address: <input type="text" [(ngModel)]="email"></p>
<p>Email: {{email}}</p>
<p>Enter Institution/Affiliation: <input type="text" [(ngModel)]="inst"></p>
<p>Academic Institution: {{inst}}</p>
</div>
<hr>

