<div class="threads">
    <br><br>
    <div class=threadss>
      <br><br><br><br>
    <h1>Research Conferences</h1>
    <h2>Join our online events this 2021!</h2>

    <button (click)="showData($event)">Early Bird Registration</button>
    </div>
    </div>
<hr>
<h1>Join our Research Conferences around the Globe!</h1>
<hr>
<div class="thread">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/pic.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">France</h5>
      <p class="card-text">The largest country in Western Europe, has log been a gateway between the continent's northern and southern regions.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Architecture and Fine Arts</li>
        <li class="list-group-item">Cultural Events</li>
        <li class="list-group-item">Safety and Security</li>
        <li class="list-group-item"><a href="#">Learn More</a></li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/pic2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Seoul</h5>
      <p class="card-text"> Korean Sŏul, formally Sŏul-t'ŭkpyŏlsi (“Special City of Seoul”), city and capital of South Korea (the Republic of Korea).</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Humanities and Arts</li>
        <li class="list-group-item">Cultural Events</li>
        <li class="list-group-item">Safety and Security</li>
        <li class="list-group-item"><a href="#">Learn More</a></li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/pic3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">San Francisco</h5>
      <p class="card-text">It is a cultural and financial centre of the western United States and one of the country's most cosmopolitan cities.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Science and Technology</li>
        <li class="list-group-item">Cultural Events</li>
        <li class="list-group-item">Safety and Security</li>
        <li class="list-group-item"><a href="#">Learn More</a></li>
    </ul>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/pic4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Boston</h5>
      <p class="card-text">Best known for its famous baked beans, Fenway Park, The Boston Marathon, and of course for the bar from Cheers.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Engineering and Tech</li>
        <li class="list-group-item">Cultural Events</li>
        <li class="list-group-item">Safety and Security</li>
        <li class="list-group-item"><a href="#">Learn More</a></li>
    </ul>
  </div>
</div>